@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@300;700&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

footer
{
    background-color: #f8f8f8;   
    border-top: 1px solid #9E9E9E;
    @media (max-width: 767px)
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
    }
}

.githubOpen
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

body
{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #fff;
}

.loadingScreen
{
    padding-bottom: 50%;
    margin-left: 45%;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}

.footer
{
    background-color: #f8f8f8;   

    border-top: 1px solid #e5e5e5;
    margin-top: 50%;

    @media (max-width: 767px)
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
    }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #de1717;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-top: 5%;
}

.navbar
{
  z-index: 1 !important;
}


@keyframes scaleUp {
  0% {
    cursor: pointer;
    opacity: 1;
  }
  100% {
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
    transform: scale(1.05);
    margin-top: 1%;
    transition: opacity 0.5s ease-in-out;
  }
}

.vidBackground
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 90%;
}


.vidBackground:hover
{
  animation: scaleUp 1s;
  animation-fill-mode: forwards;

}

img
{
  object-fit: fill;
  max-width: 300px;
  max-height: 150px;
}

p
{
  font-family: 'Open Sans', sans-serif;
}

.vidUser
{
  z-index: 1;
  display: flex;
  margin-bottom: 5%;
}

.vidUser:hover
{
  z-index: 1;
  display: flex;
  margin-bottom: 5%;
}


.vidUserText
{
  margin-left: 3.5%;
  margin-bottom: 5%;
  font-size: large;
}

.vidUserIMG
{
  margin-top: -10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}

.vidUserIMG:hover
{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  z-index: 1;

}

.vidTitle
{
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  margin-left: 20%;
}

.profile-image-img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 55%;
    margin-left: 45%;
    cursor: pointer;
}

.searchVideos
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all .3s;
    outline: none;
    &:focus
    {
        border: 1px solid #00bcd4;
    }
}

.videoThumbnail
{
  object-fit: fill;
}