.bg-dark
{
  cursor: pointer;
}

.mat-tooltip
{
  top: 104px;
}

.matGrid
{
  margin-top: 3%;
  max-width: 100%;
}

@media screen and (min-width: 1920px) {
  .matGrid {
    width: 1920px;
  }
}

@media screen and (max-width: 768px) {
  ::ng-deep {
    .mat-grid-list {
      width: auto;
      height: auto;
      margin-bottom: 10%;
      margin-left: 10%;
    }
    .videoThumbnail
    {
      object-fit: fill;
    }
  }
}

.centerViewMore
{
  margin-left: 50%;
  margin-top: auto;
}

@media screen and (min-width: 1920px) {
  .vidBackground
  {
    margin-left: -5%;
    width: 350px;
    height: 250px;

  }
  .videoThumbnail
  {
    object-fit: fill;
    max-width: 340px;
    max-height: 150px;
    margin-left: 1.5%;
  }
  .matGrid
  {
    margin-top: 1%;
  }
  .vidUser
  {
    z-index: 1;
    display: flex;
    margin-bottom: 5%;
  }

  .vidUser:hover
  {
    z-index: 1;
    display: flex;
    margin-bottom: 5%;
  }


  .vidUserText
  {
    margin-left: 3.5%;
    font-size: large;
    margin-top: 1%;
  }

  .vidUserIMG
  {
    margin-top: -2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
  }

  .vidUserIMG:hover
  {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    z-index: 1;

  }

  .vidTitle
  {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    margin-left: 1%;
  }
}