<!-- create a spinner loader using bootstrap  -->
<div *ngIf="!HasLoaded" class="loadingScreen">
  <div class="spinner-border text-danger" role="status">
      <span class="sr-only"></span>
  </div>
  <label>
    Cargando página...
  </label>
</div>

<div *ngIf="HasLoaded">
  <mat-grid-list cols="4" rowHeight="1.5:1" class="matGrid">
    <mat-grid-tile *ngFor="let video of videos | tableFilter: busquedavalue">
      
      <div class="vidBackground shadow" (click)="openVid($event, video)" (auxclick)="openVid($event, video)">
  
        <video height="200" width="400" class="ml-2 mt-3" 
        [attr.src]="video.linksrc | secure | async">
        </video>
  
        <h3 class="header" class="vidTitle text-light text-start ml-5" style="text-decoration: none" *ngIf="video.title.length > 24">
          {{ video.title?.substring(0,22) }}
        </h3>
  
        <h3 class="header" class="vidTitle text-light text-start ml-5" style="text-decoration: none" *ngIf="video.title.length <= 24">
          {{ video.title }}
        </h3>
  
        <div class="vidUser" (click)="openProfile(video.id_user)">
          <img class="vidUserIMG" [attr.src]="video.imglinksrc | secure | async" >
    
          <p  class="text-light text-start ml-5 vidUserText">
            {{ video.usern }}
          </p>
        </div>
      </div>
  
    </mat-grid-tile>
  </mat-grid-list>
  
  <button *ngIf="videosOriginal !== null && videosOriginal.length > 8 && !(amountSliced === videosOriginal.length)" (click)="expandView()"
    class="btn btn-dark centerViewMore"> Ver más <i class="fa fa-arrow-down" aria-hidden="true"></i> </button>
</div>


