.userName
{
    text-align: center;
}

.bg-dark
{
}

.mat-tooltip
{
  top: 104px;
}

.matGrid
{
  margin-top: 3%;
  max-width: 100%;
}

.btnTrash
{
  z-index: 1;
  margin-left: -11%;
  margin-bottom: -45%;
}

.btnCancel
{
  font-family: 'Open Sans', sans-serif;
  margin-right: 60%;
}

.btnConfirm
{
  font-family: 'Open Sans', sans-serif;
}

.filler
{
  height: 500px;
}

.titleAsk
{
  font-family: 'Open Sans', sans-serif;
  font-size: xx-large;
  margin-left: 40%;
  font-weight: bold;

}

.modifyProfile
{
  margin-left: 55%;
  margin-top: -6%;
}

.entireProfile
{
  overflow-x: hidden;
}


@media screen and (min-width: 1920px) {
  .profile-image-img
  {
    margin-top: 1%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 53%;
    margin-left: 46.5%;
    cursor: pointer;
  }
  .userName
  {
    text-align: center;
  }
  .modifyProfile
  {
    margin-left: 54%;
    margin-top: -4%;
  }
  .vidBackground
  {
    margin-left: -5%;
    width: 350px;
    height: 250px;
  }
  .matGrid
  {
    margin-top: -1%;
  }

  .btnTrash
  {
    z-index: 1;
    margin-left: -11%;
    margin-bottom: -40%;
  }

  .vidUser
  {
    z-index: 1;
    display: flex;
    margin-bottom: 5%;
  }

  .vidUser:hover
  {
    z-index: 1;
    display: flex;
    margin-bottom: 5%;
  }


  .vidUserText
  {
    margin-left: 3.5%;
    font-size: large;
    margin-top: 1%;
  }

  .vidUserIMG
  {
    margin-top: -2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
  }

  .videoThumbnail
  {
    object-fit: fill;
    margin-left: 5%;
  }

  .vidUserIMG:hover
  {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    z-index: 1;

  }

  .vidTitle
  {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    margin-left: 1%;
  }
}

.verticallyHeight
{

}

.verticallyHeightfifty
{
  height: 50%;
}

.modalImageExpanded
{
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
