body
{
}

.loadingScreen
{
    padding-bottom: 50% !important;
    margin-top: 2% !important;
    margin-left: 50% !important;
    font-size: large !important;
    font-family: 'Open Sans', sans-serif !important;

}